*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
}

div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    max-width: 100%;
    text-align: center;
}

h1{
    position: relative;
    top: 20%;
    line-height: 100%;
    vertical-align: middle;
    font-size: 60px;
    font-family: 'Dosis', sans-serif;
}

h2{
    position: relative;
    top: 25%;
    word-spacing: 4vh;
    line-height: 100%;
    vertical-align: middle;
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
}

p{
    position: relative;
    top: 30%;
    line-height: 100%;
    vertical-align: middle;
    opacity: 0;
}

.background{
    height: 80%;
    width: 80%;
    background-color: ivory;
    opacity: 0;
    position: relative;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
}


.photos{
    background-color: pink;
    width: 33%;
}

.blogs{
    background-color: rosybrown;
    width: 34%;
}

.aboutme{
    background-color: sandybrown;
    width: 33%;
}

.background:hover{
    opacity: 0.5;
}

.background:hover > h1{
    opacity: 0.8;
}
.background:hover > p{
    opacity: 0.8;
}