@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
    --color: #fbb1bd;
    --text-light: #faf9f9;
    --text-dark: #001524; 
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: var(--text-dark);
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar a{
    text-decoration: none;
}

.sidebar.close{
    width: 78px;
}

.sidebar.close a{
    text-decoration: none;
}

.sidebar .logo_details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo_details i{
    font-size: 30px;
    color: var(--text-light);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo_details .logo_name{
    font-size: 22px;
    color: var(--text-light);
    font-weight: 800;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo_details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav_links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav_links{
    overflow: visible;
}

.sidebar .nav_links::-webkit-scrollbar{
    display: none;
}

.sidebar .nav_links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav_links li:hover a i,
.sidebar .nav_links li:hover a span{
    color: var(--color);    
}

.sidebar .nav_links li .iocn_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav_links li .iocn_link{
    display: block
}

.sidebar .nav_links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--text-light);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav_links li.showMenu i.arrow{
    transform: rotate(-180deg);
}

.sidebar.close .nav_links i.arrow{
    display: none;
}

.sidebar .nav_links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav_links li a .link_name{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-light);
    transition: all 0.4s ease;
}

.sidebar.close .nav_links li a .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav_links li .sub_menu{
    padding: 5px 35px 5px 35px;;
    background: var(--text-dark);
    display: none;
    font-weight: 600;
}

.sidebar .nav_links li.showMenu .sub_menu{
    display: block;
}

.sidebar .nav_links li .sub_menu a{
    color: var(--text-light);
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 5px 45px;
    justify-content: left;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar.close .nav_links li .sub_menu a{
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}

.sidebar .nav_links li .sub_menu a:hover{
    opacity: 1;
    color: var(--color);
}

.sidebar.close .nav_links li .sub_menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav_links li:hover .sub_menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav_links li .sub_menu .link_name{
    display: none;
}

.sidebar.close .nav_links li .sub_menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav_links li .sub_menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav_links li:hover .sub_menu.blank{
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile_details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--text-dark);
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile_details{
    background: none;
    width: 78px;
}


.sidebar .profile_details .profile_content{
    display: flex;
    align-items: center;
}

.sidebar .profile_details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: var(--text-dark);
    transition: all 0.5s ease;
}

.sidebar.close .profile_details img{
    padding: 10px;
}

.sidebar .profile_details .profile_name,
.sidebar .profile_details .job{
    color: var(--text-light);
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.sidebar.close .profile_details i,
.sidebar.close .profile_details .profile_name,
.sidebar.close .profile_details .job{
    display: none;
}

.sidebar .profile_details .job{
    font-size: 12px;
}

.home_section{
    position: relative;
    background: var(--text-light);
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close ~ .home_section{
    left: 78px;
    width: calc(100% - 78px);
}

.home_section .home_content{
    height: 60px;
    display: flex;
    align-items: center;
}

.home_section .home_content .bx-menu{
    color: var(--text-dark);
    font-size: 35px;
}

.home_section .home_content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}

@media (max-width: 420px) {
  .sidebar.close .nav_links li .sub_menu{
    display: none;
  }
}

.main{
    margin: 0 20px;
}

h1{
    font-size: 30px;
}